<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <title>Add trip</title>
</head>

<body>

<div layout:fragment="continut" class="container">
    <table>
        <tr>
            <td th:text="${userLogin != null} ? ${userLogin.userName} : 'User neautentificat!'"></td>
        </tr>
    </table>
    <br>New trip details
    <form class="form-horizontal" th:action="@{/trip/add}" th:object="${trip}" method="post">

        <div class="form-group">
            <label class="control-label col-sm-2" for="tripName">Trip name</label>
            <div class="col-sm-4">
                <input class="form-control" id="tripName" type="text" th:field="*{tripName}"/>
                <small th:if="${#fields.hasErrors('tripName')}" th:errors="*{tripName}"></small>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="dateFrom">Date from</label>
            <div class="col-sm-4">
                <input class="form-control" id="dateFrom" type="text" th:field="*{dateFrom}"/>
                <small th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}"></small>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="dateTo">Date to</label>
            <div class="col-sm-4">
                <input class="form-control" id="dateTo" type="text" th:field="*{dateTo}"/>
                <small th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}"></small>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="impresion">Impresion</label>
            <div class="col-sm-4">
                <input class="form-control" id="impresion" type="text" th:field="*{impresion}"/>
                <small th:if="${#fields.hasErrors('impresion')}" th:errors="*{impresion}"></small>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="photoPath1">First Photo</label>
            <div class="col-sm-4">
                <input class="form-control" id="photoPath1" type="text" th:field="*{photoPath1}"/>
                <small th:if="${#fields.hasErrors('photoPath1')}" th:errors="*{photoPath1}"></small>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="photoPath2">Second Photp</label>
            <div class="col-sm-4">
                <input class="form-control" id="photoPath2" type="text" th:field="*{photoPath2}"/>
                <small th:if="${#fields.hasErrors('photoPath2')}" th:errors="*{photoPath2}"></small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" type="submit">Save</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>