<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <title>Edit trip information</title>
</head>

<body>

<div layout:fragment="continut" class="container">

    <h3>Trip details</h3>
    <form class="form-horizontal" th:action="@{/trip/edit}" th:object="${trip}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" th:value="*{id}" name="id" />
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="tripName">Trip name</label>
            <div class="col-sm-4">
                <input class="form-control" id="tripName" type="text" th:field="*{tripName}"/>
                <small th:if="${#fields.hasErrors('tripName')}" th:errors="*{tripName}"></small>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="dateFrom">Date from</label>
            <div class="col-sm-4">
                <input class="form-control" id="dateFrom" type="date" th:value="*{dateFrom}" th:field="*{dateFrom}"/>
                <small th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}"></small>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="dateTo">Date to</label>
            <div class="col-sm-4">
                <input class="form-control" id="dateTo" type="date" th:value="*{dateTo}" th:field="*{dateTo}"/>
                <small th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}"></small>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="impresion">Impresion</label>
            <div class="col-sm-4">
                <textarea rows="4" cols="50" class="form-control" id="impresion" th:field="*{impresion}"/>
                <small th:if="${#fields.hasErrors('impresion')}" th:errors="*{impresion}"></small>
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-sm-2">Photo1</label>
            <div class="col-sm-4">
                <img th:attr="src=@{'data:image/jpg;base64, '+${trip?.getPhotoPath1()}}" class="resize"/>
            </div>
        </div>
        <table>
            <tr>
                <td> <input type="file" name="fileToUpload1"/> </td>
            </tr>
        </table>
        <div class="form-group">
            <label class="control-label col-sm-2">Photo2</label>
            <div class="col-sm-4">
                <img th:attr="src=@{'data:image/jpg;base64, '+${trip?.getPhotoPath2()}}" class="resize"/>
            </div>
        </div>
        <table>
            <tr>
                <td> <input type="file" name="fileToUpload2"/> </td>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-4">
                <button class="form-control btn btn-info" type="submit">Save</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-4">
                <button class="form-control btn btn-info" onclick="window.location='/trip/details';" type="button">Cancel</button>
            </div>
        </div>
        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
    </form>
</div>
</body>
</html>

